* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

:root {
  --body-bgcolor: #ebe7e7c6;
  --nav-bgcolor: #1876f2;
  --search-bgcolor:#efefef;
  --white-color:#fff;
  --online-color:#41db51;
  --sidebar-bgcolor:#cbdffa;
  --sidebar-textcolor:#626262;
}

body {
  background-color: var(--body-bgcolor);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-bgcolor);
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  width: 160px;
  margin-right: 45px;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
}

.nav-left ul li {
  list-style: none;
  display: inline;
}

.nav-left ul li img {
  width: 28px;
  margin: 0 15px;
}

.nav-user-icon img {
width: 50px;
border-radius: 50%;
border: none;
outline: none;
cursor: pointer;
}

.search-box {
  background-color: var(--search-bgcolor);
  width: 350px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  border-radius: 10px;
}
 
.search-box input {
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 10px 10px 5px;
}

.search-box img {
  width: 20px;
  height: 20px;
  padding-left: 10px;
}
.online  {
  position: relative;
}

.online::after {
  content: '';
  width: 7px;
  height: 7px;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  background-color: var(--online-color);
  position: absolute;
  top: 0;
  right: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;
}

.left-sidebar, .right-sidebar {
  /* background-color: var(--sidebar-bgcolor); */
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
}

.main-content {
  flex-basis: 45%;
}

.imp-link a {
  text-decoration: none;
  display: flex;
  width: fit-content;
  align-items: center;
  margin-bottom: 30px;
  color: var(--sidebar-textcolor);
}

.imp-link a img {
  width: 25px;
  margin-right: 15px;
}